* {
margin:0;
padding:0;
}

body {
background:url(images/mainbg.png) repeat scroll 0 0 #DDD;
/*background:url("../../../../../apoio/guia-home.jpg");
height: 1724px;*/
font:13px/1.7 Arial,Helvetica,sans-serif;
}

.messages.error {
display:none;
}

.container-box {
width:1050px;
margin:0 auto;
position:relative;
}

/*****************************************************************************************/
/***** ADMIN *****/
/*****************************************************************************************/
html body.logged-in .container-wrap {
margin: 21px 0 0;
}

/*****************************************************************************************/
/***** HEADER *****/
/*****************************************************************************************/
.header-wrap {
background: url("../images/bg-header.jpg");
height:117px;
}

.header-wrap .header {
height: 117px;
}

/* TELEFONE */
.header-wrap #block-block-2 {
float: left;
height: 42px;
margin: 0 0 0 105px;
width: 105px;
}

.header-wrap #block-block-2 .telefone {
background: url("../images/sprite.png") 0 -41px;
color: #9C3082;
display: block;
height: 42px;
line-height: 42px;
padding: 0 0 0 22px;
}

/* ACESSO AOS PRODUTOS */
.header-wrap #block-block-3 {
float: left;
height: 42px;
margin: 0 0 0 45px;
width: 123px;
}

.header-wrap #block-block-3 .btn-acesso-aos-produtos a {
background: #9C3082;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
box-shadow: -1px 2px 2px #555555;
-webkit-box-shadow: -1px 2px 2px #555555;
-moz-box-shadow: -1px 2px 2px #555555;
color: #FFFFFF;
display: block;
font-family: "Arial";
font-size: 12px;
font-style: normal;
font-weight: normal;
height: 25px;
letter-spacing: -1px;
line-height: 25px;
margin: 8px 0 0 4px;
text-align: center;
text-decoration: none;
width: 117px;
word-spacing: -1px;
}

/* MENU SUPERIOR */
.header-wrap #block-menu-menu-superior {
display: block;
float: left;
height: 42px;
margin: 0 0 0 143px;
width: 268px;
}

.header-wrap #block-menu-menu-superior .menu li {
display: block;
float: left;
margin:0 0 0 25px;
padding: 0;
}

.header-wrap #block-menu-menu-superior .menu li a {
color:#666666;
display: block;
font-family: "Arial";
font-size: 12px;
font-style: normal;
font-weight: normal;
height: 42px;
letter-spacing: -0.2px;
line-height: 42px;
padding: 0 0 0 20px;
text-decoration: none;
word-spacing: 0;
}

.header-wrap #block-menu-menu-superior .menu li:nth-child(1) a {
background: url("../images/sprite.png") 0 -84px;
letter-spacing: -0.1px;
padding: 0 0 0 23px;
}

.header-wrap #block-menu-menu-superior .menu li:nth-child(2) a {
background: url("../images/sprite.png") 0 -126px;
}

/* SEARCH */
.header-wrap #block-search-0 {
float: left;
height: 42px;
margin: 0 0 0 17px;
position: relative;
width: 180px;
}

.header-wrap #block-search-0 #edit-search-block-form-1-wrapper {
margin:0;
padding:0;
}

.header-wrap #block-search-0 label {
display:none;
}

.header-wrap #block-search-0 #edit-search-block-form-1 {
border: 1px solid #CCCCCC;
border-radius: 13.5px;
-webkit-border-radius: 13.5px;
-moz-border-radius: 13.5px;
color: #CCCCCC;
height: 27px;
line-height: 27px;
margin: 8px 0 0 1px;
padding: 0 5px;
width: 163px;
outline:none;
}

.header-wrap #block-search-0 #edit-submit {
background: url("../images/sprite.png") 2px -175px;
border: none;
cursor: pointer;
height: 29px;
overflow: hidden;
position: absolute;
right: 4px;
text-indent: -9999px;
top: 8px;
width: 29px;
}

/* SOCIAL HEADER */
.header-wrap #block-block-5 {
float: left;
width: 64px;
}

.header-wrap #block-block-5 li {
float: left;
height: 42px;
overflow: hidden;
text-indent: -9999px;
width: 25px;
}

.header-wrap #block-block-5 li.btn-social-header-facebook a {
background: url("../images/sprite.png") -6px -208px transparent;
display: block;
height: 42px;
width: 25px;
}

.header-wrap #block-block-5 li.btn-social-header-instagram a {
background: url("../images/sprite.png") -28px -208px transparent;
display: block;
height: 42px;
width: 25px;
}

/* LOGO */
.header-wrap .logo {
left: 5px;
position: absolute;
top: 55px;
}

.header-wrap .logo a {
display: block;
height: 54px;
width: 182px;
}

.header-wrap .logo img {
display:block;
max-width:100%;
}

/* MENU PRINCIPAL */
.header-wrap #block-menu-menu-principal {
float: left;
height: 77px;
margin: 0 0 0 221px;
width: 728px;
}

.header-wrap #block-menu-menu-principal .menu {
float: left;
margin: 0;
padding: 0;
}

.header-wrap #block-menu-menu-principal .menu li {
display: block;
float: left;
margin:0;
padding: 0;
list-style:none;
}

.header-wrap #block-menu-menu-principal .menu li a {
background: url("../images/bg-border-menu-principal.jpg") no-repeat left 2px;
color: #666666;
display: block;
font-family: "Arial";
font-size: 12px;
font-style: normal;
font-weight: 700;
height: 73px;
letter-spacing: -0.2px;
line-height: 73px;
padding: 0 27px;
text-decoration: none;
word-spacing: 0;
}

.header-wrap #block-menu-menu-principal .menu li a.linkActive,
.header-wrap #block-menu-menu-principal .menu li a:hover {
color:#9c3082;
}

.header-wrap #block-menu-menu-principal .menu li:nth-child(2) a {
padding: 0 28px;
}

.header-wrap #block-menu-menu-principal .menu li:nth-child(3) a {
padding: 0 20px;
}

.header-wrap #block-menu-menu-principal .menu li:nth-child(4) a {
padding: 0 23px;
}

/* CARRINHO DE COMPRA */
#cart-block-contents-ajax {
display:none;
}

.header-wrap #block-uc_ajax_cart-0 {
background: url("../images/border-carrinho.png") 0 4px;
cursor: pointer;
display: block;
float: left;
height: 74px;
margin: 1px 0 0;
width: 100px;
}

.header-wrap #block-uc_ajax_cart-0 > h2 {
color:#a92179;
font-family: "Arial";
font-size: 11.5px;
font-style: normal;
font-weight: 700;
letter-spacing: 0;
padding: 29px 0 0;
text-indent: 22px;
word-spacing: 0;
}

/*****************************************************************************************/
/***** SLIDER *****/
/*****************************************************************************************/
.slider-wrap {
height: 507px;
overflow: hidden;
position: relative;
width: 100%;
}

.slider-wrap li {
list-style:none;
}

.slider-wrap li img {
width:1280px;
}

.slider-wrap #prevBtn {
display: block;
height: 37px;
left: 0;
position: absolute;
top: 226px;
width: 40px;
}

.slider-wrap #prevBtn a {
background: url("../images/sprite.png") 0 -254px;
cursor: pointer;
display: block;
height: 37px;
overflow: hidden;
position: absolute;
text-indent: -9999px;
width: 40px;
}

.slider-wrap #nextBtn {
display: block;
height: 37px;
right: 0;
position: absolute;
top: 226px;
width: 40px;
}

.slider-wrap #nextBtn a {
background: url("../images/sprite.png") -38px -254px;
cursor: pointer;
display: block;
height: 37px;
overflow: hidden;
position: absolute;
text-indent: -9999px;
width: 40px;
}

/*****************************************************************************************/
/***** WRAPPER *****/
/*****************************************************************************************/
#wrapper .featured {
display:none;
}

#wrapper #wrap {
height: 513px;
position: relative;
}

#wrapper #wrap #main-content .wrap-slider {
left: 50%;
margin-left: -631px;
position: absolute;
top: 0;
}

.home-content {
height:200px;
}

.clearBoth {
clear:both;
}

/*****************************************************************************************/
/***** FOOTER *****/
/*****************************************************************************************/
.footer-wrap {
background:url("../images/bgFooter.png") no-repeat top center;
/*background: url("../../../../../apoio/guia-home.jpg") repeat scroll 0 -1202px rgba(0, 0, 0, 0);*/
height: 522px;
overflow: hidden;
}

.footer-wrap .footer {
color: #666666;
margin: 0 auto;
padding: 100px 0 0;
position: relative;
width: 1050px;
}

.footer-wrap .footer-left,
.footer-wrap .footer-center,
.footer-wrap .footer-right {
float: left;
overflow:hidden;
}

/* FOOTER LEFT */
.footer-wrap .footer-left {
width: 346px;
}

.footer-wrap .footer-left #logo {
margin: 3px 0 0 41px;
padding: 0;
}

.footer-wrap .footer-left #logo img {
display:block;
height:auto;
}

.footer-wrap .footer-left #block-block-1 p {
font-family: "Arial";
font-size: 12px;
font-style: normal;
font-weight: 700;
letter-spacing: -0.1px;
line-height: 14px;
padding: 6px 30px 0 43px;
word-spacing: -0.05px;
}

/* FOOTER CENTER */
.footer-wrap .footer-center {
width: 381px;
}

/* FOOTER RIGHT */
.footer-wrap .footer-right {
width: 323px;
}

.footer-wrap .footer-right .views-field-field-depoimento-imagem-fid {
border:1px solid #CCC;
border-radius:45px 45px 45px 45px;
overflow:hidden;
text-align:center;
width:45px;
height:45px;
float:left;
}

.footer-wrap .footer-right .view-id-depoimentos .views-field-body,
.footer-wrap .footer-right .view-id-instagram_photos .views-field-images {
background-color:#FFF;
border:1px solid #DFDFDF;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
color:#333;
margin-bottom:11px;
overflow:auto;
transition:background-color .25s ease-in 0;
padding:9px;
}

.footer-wrap .footer-right.remove-margin {
margin-right:0;
}

.footer-wrap .footer-widget {
margin-bottom:40px;
}

.footer-wrap .footer-widget h4 {
color:#fff;
font-size:14px;
font-weight:700;
margin:0 0 25px;
}

.footer-wrap .footer-widget p {
font-size:12px;
font-weight:700;
}

/* SOCIAL FOOTER */
.footer-wrap #block-block-4 {
float: left;
margin: 50px 0 0 35px;
width: 64px;
}

.footer-wrap #block-block-4 li {
float: left;
height: 42px;
overflow: hidden;
text-indent: -9999px;
width: 25px;
}

.footer-wrap #block-block-4 li.btn-social-footer-facebook a {
background: url("../images/sprite.png") -6px -208px transparent;
display: block;
height: 42px;
width: 25px;
}

.footer-wrap #block-block-4 li.btn-social-footer-instagram a {
background: url("../images/sprite.png") -28px -208px transparent;
display: block;
height: 42px;
width: 25px;
}

/* COPYRIGHT */
.footer-wrap #footer-bottom {
font-size:11px;
font-weight:700;
}

.footer-wrap #footer-bottom .outerbox {
position:relative;
padding:20px 0;
}

.footer-wrap #footer-bottom #copyright {
font-size:11px;
color:#777;
text-align:center;
}