* {
margin:0;
padding:0;
}

a, img, input {
outline:none;
}

body {
background:#f5f5f5;
color: #666666;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
letter-spacing: 0;
line-height: 130%;
word-spacing: 0;
}

.messages.error {
display:none;
}

.container-box {
width:1050px;
margin:0 auto;
position:relative;
}

/*****************************************************************************************/
/***** ADMIN *****/
/*****************************************************************************************/
html body.logged-in .container-wrap {
margin: 21px 0 0;
}

body.not-front.logged-in.page-admin #center #blocks.sticky-enabled.tabledrag-processed.sticky-table {
width:1050px;
}

/* TABS */
#tabs-wrapper {
clear: both;
margin: 20px auto;
width: 1050px;
}

#tabs-wrapper ul.primary {
height:36px;
}

#tabs-wrapper ul.primary li a {
background-color: #9C3082;
border: 0 none;
color: #FFFFFF;
float: left;
height: 36px;
line-height: 36px;
margin: 0 10px 0 0;
padding: 0 10px;
text-decoration: none;
}

#tabs-wrapper ul.primary li a:hover {
background:#bc53a3;
}

#tabs-wrapper ul.primary li.active a {
background: #CCCCCC;
}

#tabs-wrapper ul.primary li.active a:hover {
background: #999999;
}

/*****************************************************************************************/
/***** HEADER *****/
/*****************************************************************************************/
.header-wrap {
background: url("../images/bg-header.jpg") repeat-x ;
height:118px;
}

.header-wrap .header {
height: 117px;
}

/* TELEFONE */
.header-wrap #block-block-2 {
float: left;
height: 42px;
margin: 0 0 0 105px;
width: 105px;
}

.header-wrap #block-block-2 .telefone {
background: url("../images/sprite.png") no-repeat 0 -41px;
color: #9C3082;
display: block;
height: 42px;
line-height: 42px;
padding: 0 0 0 22px;
}

/* ACESSO AOS PRODUTOS */
.header-wrap #block-block-3 {
float: left;
height: 42px;
margin: 0 0 0 45px;
width: 123px;
}

.header-wrap #block-block-3 .btn-acesso-aos-produtos a {
background: #9C3082;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
box-shadow: -1px 2px 2px #555555;
-webkit-box-shadow: -1px 2px 2px #555555;
-moz-box-shadow: -1px 2px 2px #555555;
color: #FFFFFF;
display: block;
font-size: 12px;
height: 25px;
letter-spacing: -1px;
line-height: 25px;
margin: 8px 0 0 4px;
text-align: center;
text-decoration: none;
width: 117px;
word-spacing: -1px;
}

.header-wrap #block-block-3 .btn-acesso-aos-produtos a:hover {
background:#bc53a3;
}

/* MENU SUPERIOR */
.header-wrap #block-menu-menu-superior {
display: block;
float: left;
height: 42px;
margin: 0 0 0 143px;
width: 268px;
}

.header-wrap #block-menu-menu-superior .menu li {
display: block;
float: left;
margin:0 0 0 25px;
padding: 0;
}

.header-wrap #block-menu-menu-superior .menu li a {
color:#666666;
display: block;
font-size: 12px;
height: 42px;
letter-spacing: -0.2px;
line-height: 42px;
padding: 0 0 0 20px;
text-decoration: none;
}

.header-wrap #block-menu-menu-superior .menu li:nth-child(1) a {
background: url("../images/sprite.png") no-repeat 0 -84px;
letter-spacing: -0.1px;
padding: 0 0 0 23px;
}

.header-wrap #block-menu-menu-superior .menu li:nth-child(2) a {
background: url("../images/sprite.png") no-repeat 0 -126px;
}

/* SEARCH */
.header-wrap #block-search-0 {
float: left;
height: 42px;
margin: 0 0 0 17px;
position: relative;
width: 180px;
}

.header-wrap #block-search-0 #edit-search-block-form-1-wrapper {
margin:0;
padding:0;
}

.header-wrap #block-search-0 label {
display:none;
}

.header-wrap #block-search-0 #edit-search-block-form-1 {
border: 1px solid #e4e4e4;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
color: #CCCCCC;
height: 27px;
line-height: 27px;
margin: 8px 0 0 1px;
padding: 0 5px;
width: 163px;
outline:none;
}

.header-wrap #block-search-0 .form-submit {
background: url("../images/sprite.png") no-repeat 2px -175px;
border: none;
cursor: pointer;
height: 29px;
overflow: hidden;
position: absolute;
right: 4px;
text-indent: -9999px;
top: 8px;
width: 29px;
}

/* SOCIAL HEADER */
.header-wrap #block-block-5 {
float: left;
width: 64px;
}

.header-wrap #block-block-5 li {
float: left;
height: 42px;
overflow: hidden;
text-indent: -9999px;
width: 25px;
}

.header-wrap #block-block-5 li.btn-social-header-facebook a {
background: url("../images/sprite.png") no-repeat -6px -208px;
display: block;
height: 42px;
width: 25px;
}

.header-wrap #block-block-5 li.btn-social-header-instagram a {
background: url("../images/sprite.png") no-repeat -28px -208px;
display: block;
height: 42px;
width: 25px;
}

/* LOGO */
.header-wrap .logo {
left: 5px;
position: absolute;
top: 55px;
}

.header-wrap .logo a {
display: block;
height: 54px;
width: 182px;
}

.header-wrap .logo img {
display:block;
max-width:100%;
}

/* MENU PRINCIPAL */
.header-wrap #block-menu-menu-principal {
float: left;
height: 77px;
margin: 0 0 0 221px;
width: 728px;
}

.header-wrap #block-menu-menu-principal .menu {
float: left;
margin: 0;
padding: 0;
}

.header-wrap #block-menu-menu-principal .menu li {
display: block;
float: left;
margin:0;
padding: 0;
list-style:none;
}

.header-wrap #block-menu-menu-principal .menu li a {
background: url("../images/bg-border-menu-principal.jpg") no-repeat left 2px;
color: #666666;
display: block;
font-size: 12px;
font-weight: 700;
height: 73px;
letter-spacing: -0.2px;
line-height: 73px;
padding: 0 27px;
text-decoration: none;
}

.header-wrap #block-menu-menu-principal .menu li a.linkActive,
.header-wrap #block-menu-menu-principal .menu li a:hover {
color:#9c3082;
}

.header-wrap #block-menu-menu-principal .menu li:nth-child(2) a {
padding: 0 28px;
}

.header-wrap #block-menu-menu-principal .menu li:nth-child(3) a {
padding: 0 20px;
}

.header-wrap #block-menu-menu-principal .menu li:nth-child(4) a {
padding: 0 23px;
}

/* CARRINHO DE COMPRA */
#cart-block-contents-ajax {
display:none;
}

.header-wrap #block-uc_ajax_cart-0 {
background: url("../images/border-carrinho.png") no-repeat 0 4px;
cursor: pointer;
display: block;
float: left;
height: 74px;
margin: 1px 0 0;
width: 100px;
}

.header-wrap #block-uc_ajax_cart-0 > h2 {
color:#a92179;
font-weight: 700;
padding: 29px 0 0;
text-indent: 22px;
}

/*****************************************************************************************/
/***** SLIDER *****/
/*****************************************************************************************/
.slider-wrap {
background: #CCCCCC;
height: 499px;
overflow: hidden;
position: relative;
width: 100%;
}

.slider-wrap #slider {
margin:0 auto;
}

.slider-wrap li {
list-style: none outside none;
overflow: hidden;
width: 1263px;
}

.slider-wrap li img {
width:1263px;
}

.slider-wrap #prevBtn {
display: block;
height: 37px;
left: 0;
position: absolute;
top: 226px;
width: 40px;
}

.slider-wrap #prevBtn a {
background: url("../images/sprite.png") no-repeat 0 -254px;
cursor: pointer;
display: block;
height: 37px;
overflow: hidden;
position: absolute;
text-indent: -9999px;
width: 40px;
}

.slider-wrap #nextBtn {
display: block;
height: 37px;
right: 0;
position: absolute;
top: 226px;
width: 40px;
}

.slider-wrap #nextBtn a {
background: url("../images/sprite.png") no-repeat -38px -254px;
cursor: pointer;
display: block;
height: 37px;
overflow: hidden;
position: absolute;
text-indent: -9999px;
width: 40px;
}

/*****************************************************************************************/
/***** WRAPPER *****/
/*****************************************************************************************/
html body.front #center > h2 {
display:none;
}

#center > h2 {
border-bottom: 3px solid #9c3082;
display: block;
float: left;
font-size: 22px;
font-weight: 700;
height: 43px;
letter-spacing: 1px;
margin: 0 0 60px;
padding: 30px 115px 0 20px;
text-align: center;
}

#center > .beforeTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 105px;
}

#center > .afterTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 615px;
}

.content-wrap .content {
clear: both;
position: relative;
}

/* ------- Página: Home ------- */
/* REPRESENTANDO */
.content-wrap #block-views-representadas-block_1 h2 {
background: url("../images/sprite.png") no-repeat 780px -403px;
border-bottom: 2px solid #9c3082;
display: block;
float: left;
font-size: 22px;
font-weight: 700;
height: 43px;
letter-spacing: 1px;
margin: 0 0 25px 32px;
padding: 30px 20px 0 0;
text-align: right;
width: 1000px;
}

.content-wrap #block-views-representadas-block_1 h2:before {
border-bottom: 2px solid #CCCCCC;
content: "";
display: block;
float: left;
height: 43px;
width: 779px;
}

.content-wrap .representadas-home {
margin: 0 0 0 32px;
width: 1020px;
position:relative;
}

html .content-wrap .representadas-home .item-list {
clear: both;
height: 100% !important;
overflow: hidden;
}

.content-wrap .representadas-home .item-list ul,
.content-wrap .representadas-home .item-list li {
list-style: none outside none;
margin: 0;
padding: 0;
}

html .content-wrap .representadas-home .item-list li {
width:1016px;
}

.content-wrap .representadas-home .item-list ul {
height: 335px;
}

.content-wrap .representadas-home .item-list li .product-box {
background: url("../images/shadow-box.jpg") no-repeat center bottom rgba(0, 0, 0, 0);
display: block;
float: left;
height: 333px;
width: 254px;
}

.content-wrap .representadas-home .item-list li .product-box > div {
background: #FFFFFF;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
box-shadow: 0 0 2px #888888;
-moz-box-shadow: 0 0 2px #888888;
-webkit-box-shadow: 0 0 2px #888888;
float: left;
height: 323px;
margin: 3px 7px 0;
overflow: hidden;
}

.content-wrap .representadas-home .item-list li a {
color: #888888;
text-decoration: none;
}

.content-wrap .representadas-home .product-image {
clear: none;
float: none;
height: 240px;
margin: 0;
overflow: hidden;
padding: 0;
text-align: inherit;
width: 240px;
}

.content-wrap .representadas-home .product-image img {
height:240px;
}

.content-wrap .representadas-home .product-title {
font-size: 13px;
line-height: 16px;
max-height: 32px;
min-height: 16px;
overflow: hidden;
padding: 11px 16px 0;
width: 208px;
}

.content-wrap .representadas-home .product-price {
font-size: 13px;
height: 16px;
line-height: 16px;
overflow: hidden;
padding: 11px 16px 0;
width: 208px;
}

.content-wrap .representadas-home #prevBtnProd {
background: url("../images/sprite.png") 0 -255px;
display: block;
height: 38px;
left: -38px;
position: absolute;
top: 145px;
width: 38px;
}

.content-wrap .representadas-home #prevBtnProd a {
display: block;
height: 38px;
overflow: hidden;
text-indent: -9999px;
width: 38px;
}

.content-wrap .representadas-home #nextBtnProd {
background: url("../images/sprite.png") -39px -255px;
display: block;
height: 38px;
position: absolute;
right: -33px;
top: 145px;
width: 38px;
}

.content-wrap .representadas-home #nextBtnProd a {
display: block;
height: 38px;
overflow: hidden;
text-indent: -9999px;
width: 38px;
}

.content-wrap .bt-todos-produtos a {
background: #9C3082;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: -1px 2px 2px #555555;
-moz-box-shadow: -1px 2px 2px #555555;
-webkit-box-shadow: -1px 2px 2px #555555;
color: #FFFFFF;
display: block;
font-size: 25px;
height: 80px;
letter-spacing: -1px;
line-height: 80px;
margin: 8px auto 0;
text-align: center;
text-decoration: none;
width: 384px;
word-spacing: -1px;
}

.content-wrap .bt-todos-produtos a:hover {
background:#BC53A3;
}

/* ------- Página: Login ------- */
body.page-user #center #user-login {
margin: 20px auto;
padding: 0 0 0 100px;
width: 950px;
}

body.page-user #center #user-login label {
display:none;
}

body.page-user #user-login .description {
color:#666666;
}

body.page-user #user-login #edit-submit {
background: #9C3082;
border: medium none;
color: #FFFFFF;
cursor: pointer;
padding: 9px 15px;
}

body.page-user #user-login #edit-submit:hover {
background:#bc53a3;
}

body.page-user .content-wrap #center #user-login input.form-text {
background: #FAFAFA;
border: 1px solid #E4E4E4;
border-radius: 5px 5px 5px 5px;
color: #C2C4C6;
height: 30px;
line-height: 30px;
padding: 0 10px;
width: 440px;
}

body.page-user .content-wrap #center > h2 {
border-bottom: 3px solid #9c3082;
display: block;
float: left;
font-size: 22px;
font-weight: 700;
height: 43px;
letter-spacing: 1px;
margin: 0 0 60px;
padding: 30px 115px 0 20px;
text-align: center;
}

body.page-user .content-wrap #center > .beforeTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 105px;
}

body.page-user .content-wrap #center > .afterTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 615px;
}

body.page-user .banner-wrap {
background: url("../images/banner_default.jpg") no-repeat center center #A92855;
height: 140px;
width: 100%;
}

/* ------- Página: Cadastro de Usuário ------- */
body.page-user .content-wrap #center #user-register {
margin: 20px auto;
padding: 0 0 0 100px;
width: 950px;
}

body.page-user .content-wrap #center #user-register fieldset {
border:none;
}

body.page-user .content-wrap #center #user-register label {
display:none;
}

body.page-user .content-wrap #center #user-register legend {
border-top: 2px solid #E4E4E4;
display: block;
font-family: "Trebuchet MS",Helvetica,sans-serif;
font-size: 15px;
font-weight: 700;
margin: 0 0 10px -30px;
padding: 15px 0 0 30px;
width: 495px;
}

body.page-user .content-wrap #center #user-register input.form-text {
background: #FAFAFA;
border: 1px solid #E4E4E4;
border-radius: 5px 5px 5px 5px;
color: #C2C4C6;
height: 30px;
line-height: 30px;
padding: 0 10px;
width: 440px;
}

body.page-user .content-wrap #center #user-register .form-item {
margin: 0 0 9px 0;
}

/* ------- Página: Cadastro Enviado ------- */
html body.page-node-id-16 {
background:#ffffff;
}

html body.page-node-id-16 .banner-wrap {
background: url("../images/banner_default.jpg") no-repeat center center #A92855;
height: 140px;
width: 100%;
}

body.page-node-id-16 .content-wrap #center {
background: url("../images/bg_cadastro_enviado.jpg") no-repeat center 97px #FFFFFF;
height: 694px;
}

body.page-node-id-16 .content-wrap #node-16 .txt0 {
color: #EAEAEC;
font-size: 291px;
font-weight: 700;
letter-spacing: -12px;
line-height: 100%;
padding: 83px 0 0 505px;
}

body.page-node-id-16 .content-wrap #node-16 .txt1 {
color: #595959;
font-size: 26px;
font-weight: 700;
letter-spacing: -0.9px;
line-height: 100%;
padding: 9px 0 0 510px;
word-spacing: -3px;
}

body.page-node-id-16 .content-wrap #node-16 .txt2 {
color: #96959A;
font-size: 26px;
font-weight: 700;
letter-spacing: -0.9px;
line-height: 100%;
padding: 21px 0 0 510px;
word-spacing: -3px;
}

body.page-node-id-16 .content-wrap #center > h2 {
border-bottom: 3px solid #9c3082;
display: block;
float: left;
font-size: 22px;
font-weight: 700;
height: 43px;
letter-spacing: 1px;
margin: 0 0 60px;
padding: 30px 115px 0 20px;
text-align: center;
}

body.page-node-id-16 .content-wrap #center .beforeTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 145px;
}

body.page-node-id-16 .content-wrap #center .afterTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 660px;
}

body.page-node-id-16 .content-wrap #center .breadcrumb {
display:none;
}

/* ------- Página: Página de erro 404 ------- */
html body.page-node-id-13 .banner-wrap {
background: url("../images/banner_404.jpg") no-repeat center center #340937;
height: 140px;
width: 100%;
}

html body.page-node-id-13 {
background:#ffffff;
}

body.page-node-id-13 .content-wrap {
height: 694px;
}

body.page-node-id-13 .content-wrap #node-13 a {
color: #8D3174;
text-decoration: none;
}

body.page-node-id-13 .content-wrap #node-13 .txt0 {
color: #EAEAEC;
font-size: 254px;
font-weight: 700;
letter-spacing: -12px;
line-height: 100%;
padding: 15px 0 0 77px;
}

body.page-node-id-13 .content-wrap #node-13 .txt1 {
color: #595959;
font-family: Trebuchet MS, Arial;
font-size: 26px;
font-weight: 700;
letter-spacing: 2px;
line-height: 100%;
padding: 0 0 0 92px;
}

body.page-node-id-13 .content-wrap #node-13 .txt2 {
color: #a7a6ab;
font-family: Trebuchet MS, Arial;
font-size: 25px;
letter-spacing: -0.3px;
padding: 21px 0 0 91px;
}

body.page-node-id-13 .content-wrap #node-13 .txt3 {
color: #a7a6ab;
font-family: Trebuchet MS, Arial;
font-size: 25px;
letter-spacing: -0.3px;
line-height: 100%;
padding: 33px 0 0 91px;
}

body.page-node-id-13 .content-wrap #node-13 .txt4 {
color: #a7a6ab;
font-family: Trebuchet MS, Arial;
font-size: 25px;
letter-spacing: -0.3px;
line-height: 100%;
padding: 30px 0 0 91px;
}

body.page-node-id-13 .content-wrap #center > h2 {
border-bottom: 3px solid #9c3082;
display: block;
float: left;
font-size: 22px;
font-weight: 700;
height: 43px;
letter-spacing: 1px;
margin: 0 0 60px;
padding: 30px 40px 0;
text-align: center;
}

body.page-node-id-13 .content-wrap #center .beforeTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 445px;
}

body.page-node-id-13 .content-wrap #center .afterTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 265px;
}

body.page-node-id-13 .content-wrap #center .breadcrumb {
display:none;
}

/* ------- Página: Página de produtos ------- */
html body.page-produtos {
background:#ffffff;
}

body.page-produtos .content-wrap {
/*background: url("../../../../../apoio/guia-produto.jpg") repeat scroll 103px -145px rgba(0, 0, 0, 0);
height: 856px;*/
}

body.page-produtos .breadcrumb {
display:none;
}

body.page-produtos .title {
clear: both;
height: 76px;
width: 1050px;
}

body.page-produtos .title > img {
border-bottom: 3px solid #9C3082;
display: block;
float: left;
font-size: 22px;
font-weight: 700;
height: 43px;
letter-spacing: 1px;
margin: 0 0 20px;
padding: 16px 40px 14px;
text-align: center;
}

body.page-produtos .title > .beforeTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 138px;
}

body.page-produtos .title > .afterTitle {
border-bottom: 1px solid #e4e4e4;
display: block;
float: left;
height: 43px;
padding: 31px 0 0;
width: 681px;
}

/* sidebar */	
body.page-produtos #sidebar-left {
clear: both;
float: left;
padding: 36px 0 0;
width: 200px;
}

body.page-produtos #sidebar-left #block-views-representadas-block_2 {
margin: 0 0 50px;
}

body.page-produtos #sidebar-left h2 {
border-bottom: 1px solid #E4E4E4;
display: block;
font-size: 13px;
font-weight: 700;
line-height: 100%;
margin: 0 0 7px 44px;
padding: 0 0 6px 7px;
width: 115px;
}

body.page-produtos #sidebar-left .view-content li,
body.page-produtos #sidebar-left #block-uc_catalog-0 li {
list-style: none outside none;
margin: 0;
padding: 0;
}

body.page-produtos #sidebar-left .view-content li a,
body.page-produtos #sidebar-left #block-uc_catalog-0 li a {
color: #96969A;
display: block;
font-weight: 700;
height: 26px;
line-height: 26px;
padding: 0 0 0 37px;
text-decoration: none;
}

/* center */
body.page-produtos #center {
border-left: 1px solid #E4E4E4;
float: left;
padding: 36px 0 0 50px;
width: 799px;
}

body.page-produtos #center h2 {
font-size: 14px;
padding: 0 0 10px;
text-transform: uppercase;
}

html body.page-produtos #block-views-produtos-block_3 {
border-bottom: 1px solid #666666;
height: 279px;
}

html body.page-produtos #block-views-produtos-block_2 {
padding: 23px 0 0;
}

body.page-produtos #center .view-produtos .item-list ul {
margin:0;
padding:0;
}

body.page-produtos #center .view-produtos .item-list li.views-row {
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 7px 7px 7px 7px;
box-shadow: 0 0 2px #888888;
float: left;
height: 217px;
margin: 0 15px 0 0;
overflow: hidden;
width: 188px;
}

body.page-produtos #center .view-produtos .item-list li.views-row a {
display: block;
height: 217px;
width: 188px;
}

html body.page-produtos #center .view-produtos .item-list .views-row-last {
margin: 3px 0 0 0;
}

body.page-produtos #center .view-produtos .views-field-field-image-cache-fid {
clear: none;
float: none;
height: 162px;
margin: 0;
overflow: hidden;
padding: 0;
text-align: inherit;
width: 188px;
}

body.page-produtos #center .view-produtos .views-field-field-image-cache-fid img {
display: block;
max-height: 160px;
max-width: 188px;
}

body.page-produtos #center .view-produtos .views-field-title a {
font-size: 13px;
line-height: 16px;
max-height: 32px;
min-height: 16px;
overflow: hidden;
padding: 11px 16px 0;
width: 208px;
text-decoration:none;
color:#888888;
}

body.page-produtos #center .view-produtos .views-field-sell-price {
font-size: 13px;
height: 16px;
line-height: 16px;
overflow: hidden;
padding: 11px 16px 0;
width: 208px;
}

body.page-produtos #center .view-produtos .product-box {
background: #FFFFFF;
border-radius: 20px 20px 20px 20px;
display: none;
height: 400px;
left: 50%;
margin: 0 0 0 -428px;
position: fixed;
top: 0;
width: 756px;
z-index: 9999;
padding:50px
}

.overlay {
background: #000000;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
}

/*****************************************************************************************/
/***** FOOTER *****/
/*****************************************************************************************/
.footer-wrap {
background:url("../images/bgFooter.png") no-repeat top center;
height: 522px;
overflow: hidden;
clear:both;
}

.footer-wrap .footer {
margin: 0 auto;
padding: 100px 0 0;
position: relative;
width: 1050px;
}

.footer-wrap .footer-left,
.footer-wrap .footer-center,
.footer-wrap .footer-right {
float: left;
overflow:hidden;
}

/* FOOTER LEFT */
.footer-wrap .footer-left {
width: 349px;
}

.footer-wrap .footer-left #logo {
margin: 3px 0 0 41px;
padding: 0;
}

.footer-wrap .footer-left #logo img {
display:block;
height:auto;
}

.footer-wrap .footer-left #block-block-1 p {
font-size: 12px;
font-weight: 700;
letter-spacing: -0.1px;
line-height: 14px;
padding: 6px 30px 0 43px;
word-spacing: -0.05px;
}

/* SOCIAL FOOTER */
.footer-wrap #block-block-4 {
float: left;
margin: 50px 0 0 35px;
width: 64px;
}

.footer-wrap #block-block-4 li {
float: left;
height: 42px;
overflow: hidden;
text-indent: -9999px;
width: 25px;
}

.footer-wrap #block-block-4 li.btn-social-footer-facebook a {
background: url("../images/sprite.png") no-repeat -6px -208px transparent;
display: block;
height: 42px;
width: 25px;
}

.footer-wrap #block-block-4 li.btn-social-footer-instagram a {
background: url("../images/sprite.png") no-repeat -28px -208px transparent;
display: block;
height: 42px;
width: 25px;
}

/* FOOTER CENTER */
.footer-wrap .footer-center {
width: 373px;
}

.footer-wrap .footer-center h2 {
border-bottom: 3px solid #9c3082;
display: block;
font-size: 13.5px;
margin: 8px 0 18px;
text-transform: uppercase;
width: 200px;
}

.footer-wrap .footer-center img {
background: none repeat 0 0 #FFFFFF;
border: 1px solid #e4e4e4;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
margin: 0 8px 0 0;
padding: 5px;
}

/* FOOTER RIGHT */
.footer-wrap .footer-right {
width: 323px;
margin-bottom:40px;
}

.footer-wrap .footer-right.remove-margin {
margin-right:0;
}

.footer-wrap .footer-right h4 {
color:#fff;
font-size:14px;
font-weight:700;
margin:0 0 25px;
}

.footer-wrap .footer-right p {
font-size:12px;
font-weight:700;
}

.footer-wrap .footer-right .views-field-field-depoimento-imagem-fid {
border: 1px solid #e4e4e4;
border-radius: 45px;
-moz-border-radius: 45px;
-border-radius-border-radius: 45px;
float: left;
height: 45px;
margin: 15px 0 0 25px;
overflow: hidden;
text-align: center;
width: 45px;
}

.footer-wrap .footer-right .views-field-field-depoimento-autor-value {
float: left;
font-size: 11px;
font-weight: 700;
margin: 18px 0 0 6px;
overflow: hidden;
width: 245px;
}

.footer-wrap .footer-right .views-field-field-depoimento-autor-descricao-value {
float: left;
font-size: 11px;
margin: 0 0 0 6px;
overflow: hidden;
width: 245px;
}

.footer-wrap .footer-right .view-id-depoimentos .views-field-body,
.footer-wrap .footer-right .view-id-instagram_photos .views-field-images {
background-color:#ffffff;
border:1px solid #dfdfdf;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
color:#333333;
margin-bottom:11px;
overflow:auto;
padding:9px;
}

/* NEWSLETTER */
.footer-wrap .footer-right #block-webform-client-block-7 h2 {
border-bottom: 3px solid #9C3082;
font-size: 13px;
margin: 8px 0 20px;
width: 253px;
word-spacing: 0.5px;
}

.footer-wrap .footer-right #block-webform-client-block-7 .webform-client-form {
position:relative;
}

.footer-wrap .footer-right #block-webform-client-block-7 label {
display:none;
}

.footer-wrap .footer-right #block-webform-client-block-7 input.form-email {
background: #FAFAFA;
border: 1px solid #E4E4E4;
border-radius: 14px;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
height: 28px;
line-height: 28px;
margin: 0 0 41px;
outline: medium none;
padding: 0 0 0 5px;
width: 316px;
}

.footer-wrap .footer-right #block-webform-client-block-7 .form-actions {
position: absolute;
right: 0;
top: 0;
}

.footer-wrap .footer-right #block-webform-client-block-7 .form-item {
margin:0;
padding:0;
}

.footer-wrap .footer-right #block-webform-client-block-7 .form-submit {
background: url("../images/sprite.png") no-repeat 0 -302px;
border: medium none;
cursor: pointer;
display: block;
height: 30px;
overflow: hidden;
text-indent: -9999px;
width: 30px;
}

/* DEPOIMENTO */
.footer-wrap .footer-right #block-views-depoimentos-block_1 {
position:relative;
}

.footer-wrap .footer-right #block-views-depoimentos-block_1 h2 {
border-bottom: 3px solid #9C3082;
display: block;
font-size: 13px;
font-weight: 700;
letter-spacing: 0.3px;
line-height: 23px;
margin: 0 0 16px 5px;
text-transform: uppercase;
width: 122px;
}

.footer-wrap .footer-right #block-views-depoimentos-block_1 .views-field-body {
height: 77px;
margin: 0 0 0 7px;
overflow: visible;
position: relative;
width: 296px;
}

.footer-wrap .footer-right #block-views-depoimentos-block_1 .views-field-body .field-content {
height: 77px;
line-height: 20px;
overflow: hidden;
}

.footer-wrap .footer-right #block-views-depoimentos-block_1 .views-field-body:after {
background: url("../images/sprite.png") no-repeat 0 -339px;
bottom: -16px;
content: "";
display: block;
height: 20px;
left: 50px;
margin: 0;
padding: 0;
position: absolute;
width: 20px;
}

/* NEVEGAÇÃO DEPOIMENTOS */
.footer-wrap .footer-right .item-list {
height: 40px;
position: absolute;
right: 0;
top: 0;
width: 56px;
}

.footer-wrap .footer-right .item-list .pager {
height: 40px;
margin: 0;
padding: 0;
width: 56px;
}

.footer-wrap .footer-right .item-list .pager li {
margin:0;
padding:0;
}

.footer-wrap .footer-right .item-list .pager li.pager-current {
display:none;
}

.footer-wrap .footer-right .item-list .pager li.pager-previous {
background: url("../images/sprite.png") no-repeat 0 -366px;
cursor: pointer;
float: left;
height: 40px;
margin: 0 4px 0 0;
width: 26px;
}

.footer-wrap .footer-right .item-list .pager li.pager-previous a {
display: block;
float: left;
height: 40px;
overflow: hidden;
text-indent: -9999px;
width: 26px;
outline:none;
}

.footer-wrap .footer-right .item-list .pager li.pager-next {
background: url("../images/sprite.png") no-repeat -25px -366px;
cursor: pointer;
float: left;
height: 40px;
width: 26px;
}

.footer-wrap .footer-right .item-list .pager li.pager-next a {
display: block;
float: left;
height: 40px;
overflow: hidden;
text-indent: -9999px;
width: 26px;
outline:none;
}

/* COPYRIGHT */
.footer-wrap .footer-bottom {
clear: both;
font-size: 11px;
font-weight: 700;
letter-spacing: -0.1px;
padding: 29px 0 0;
position: relative;
text-align: center;
text-indent: 36px;
word-spacing: -1px;
color:#777;
}